<div class="flex justify-center gap-3 pt-10">
  <button class="btn btn-neutral" (click)="get500Error()">Test 500 Error</button>
  <button class="btn btn-accent" (click)="get400ValidationError()">Test 400 Error</button>
  <button class="btn btn-secondary" (click)="get401Error()">Test 401 Error</button>
  <button class="btn btn-default" (click)="get404Error()">Test 404 Error</button>

  @if (validationErrors.length > 0) {
    <div class="row mt-5">
      <ul class="text-danger">
        @for (error of validationErrors; track $index) {
          <li>{{error}}</li>
        }
      </ul>
    </div>
  }
</div>
